numpy==1.26.4
opencv-python==4.8.1.78
tensorflow-macos
tensorflow-metal
mtcnn
fastapi
uvicorn
pillow
scikit-learn
uvicorn
opencv-python
mtcnn
tensorflow
torch
torchvision
timm
reportlab
python-multipart
